<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Class Sync</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="panel-de-control.component.css">
</head>
<body>
  <div class="nav-bar">
    <div><strong>class</strong>sync</div>
    <div>PROFESOR</div>
  </div>
  <div class="container">
    <div class="card">
      <strong>Salón</strong>
      
      <!-- Campo para ingresar ID de salón y agregar -->
      <div class="card-title">
        <input [(ngModel)]="nuevoSalon" placeholder="Ingresa el ID del salón" />
      </div>

      <!-- Botón para subir a Firebase -->
      <button (click)="subirAFirebaseSalones()">Agregar Salón</button>
    </div>

    <div class="card">
      <div class="card-title">Aire Acondicionado</div>
      <div class="card-title centered">Registrar Señal IR</div>
      <div class="controls">
        <div class="button" (click)="guardarSenal(1)">Registrar Encendido</div>
        <div class="button" (click)="guardarSenal(0)">Registrar Apagado</div>
      </div>
    </div>
    
    <!-- Modal controlado con ngClass -->
    <div class="modal" [ngClass]="{ 'show-modal': mostrarModal, 'hide-modal': !mostrarModal }">
      <div class="modal-content">
        <h3>Registro de Señal IR</h3>
        <textarea readonly class="input-cuadro">{{ textoModal }}</textarea>
        <button (click)="registrar()">Registrar</button>
        <button (click)="cerrarModal()">Cerrar</button>
      </div>
    </div>      

    <!-- extras -->
    <div class="card">
      <div class="card-title">Horario</div>
      <div class="controls">
        <div class="button">On</div>
        <div class="button">Off</div>
      </div>
    </div>
    <div class="card">
      <div class="card-title">Estado de Puertas</div>
      <div class="door-status"></div>
    </div>
  </div>
  <div class="footer">
    <div class="button">🏠 Home</div>
  </div>
</body>
</html>
